{
    "refreshTime": "10",
    "pidUrl": "https://api.golemio.cz/v2/public/departureboards?stopIds=%7B%220%22%3A%20%5B%22U1613Z1%22%2C%20%22U1613Z2%22%5D%7D&minutesAfter=360",
    "pidApiKey": "PUT-YOUR-API-KEY-HERE",
    "zastavka": "Šestajovice, Balkán",
    "weatherUrl": [
        "https://www.meteo-pocasi.cz/maps/cz/praha/1695-meteostanice-praha-20/",
        "https://www.meteo-pocasi.cz/maps/cz/stredocesky/1659-meteostanice-zapy/",
        "https://api.open-meteo.com/v1/forecast?latitude=45.0000000&longitude=13.0000000&current_weather=true"
    ],
    "enableMap": "true",
    "mapUrl": "https://mapa.pid.cz/?filter=&zoom=14&lon=14.6805&lat=50.1053",
    "missingPerson": "false"
}