body {
    background-color: black !important;
}

@media (min-width: 1900px) {
    body {
        font-size: 150%;
    }
  }

.output {
    font-size: xx-large;
}

tr {
    border: 5px solid white;
}

#odkaz {
    color: white;
}

#mapa {
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
}