body {
    background-color: black !important;
}

.output {
    font-size: xx-large;
}

tr {
    border: 5px solid white;
}

#odkaz {
    color: white;
}

#mapa {
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
}

.stranka {
    padding-left: 3%;
    padding-right: 3%;
}

.vetsiText {
    font-size: 130%;
}