body {
    background-color: black !important;
    overflow: hidden;
}

.output {
    font-size: xx-large;
}

tr {
    border: 5px solid white;
}

#odkaz {
    color: white;
}

#mapa {
    width: 100%;
    height: calc(100vh - 70px);
    border: none;
}

.stranka {
    padding-left: 3%;
    padding-right: 3%;
}

.vetsiText {
    font-size: 130%;
}

footer {
    background-color: black !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}